In [1]:
import pandas as pd
import numpy as np

**count the number of occurences of a letter in a String**

In [5]:
def char_frequency(str1):
    dict = {}
    for n in str1:
        keys = dict.keys()
        if n in keys:
            dict[n] += 1
        else:
            dict[n] = 1
    return dict
print(char_frequency('google.com'))

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

In [11]:
def charfeq(userstr):
    dict = {}
    for n in userstr:
        keys = dict.keys()
        if n in keys:
            dict[n] +=1
        else:
            dict[n] = 1
    return dict
print(charfeq('janmejay'))

{'j': 2, 'a': 2, 'n': 1, 'm': 1, 'e': 1, 'y': 1}

In [9]:
from collections import Counter
print(Counter('cats on wheels'))

Counter({'s': 2, ' ': 2, 'e': 2, 'c': 1, 'a': 1, 't': 1, 'o': 1, 'n': 1, 'w': 1, 'h': 1, 'l': 1})

In [10]:
s = input()
t = s.lower()

for i in range(len(s)):
    b = t.count(t[i])
    print("{} -- {}".format(s[i], b))

Janmejay
J -- 2
a -- 2
n -- 1
m -- 1
e -- 1
j -- 2
a -- 2
y -- 1

**count the number of Occurences of a number in a list**

In [14]:
from collections import Counter
list1 = [1,2,2,3,3,3,5,5,4,4,3,6,8,7,7]
Counter(list1)

Counter({1: 1, 2: 2, 3: 4, 5: 2, 4: 2, 6: 1, 8: 1, 7: 2})

In [ ]:
>>> l = ["a","b","b"]
>>> [[x,l.count(x)] for x in set(l)]
[['a', 1], ['b', 2]]
>>> dict((x,l.count(x)) for x in set(l))
{'a': 1, 'b': 2}

In [16]:
l = ["a","b","c","d"]
[[x,l.count(x)] for x in list(l)]

[['a', 1], ['b', 1], ['c', 1], ['d', 1]]

In [17]:
dict((x,l.count(x)) for x in list(l))

{'a': 1, 'b': 1, 'c': 1, 'd': 1}

Suppose you are given the following dataframe containing food, weight, and calories. You'll notice the foods have varying weights associated with them.

Using Python (Pandas), can you sort the dataframe in descending order with the most calorically dense food (normalized for weight) at the top?

In [18]:
#code to generate example dataframe
import pandas as pd
raw_data = {'food': ['bacon', 'strawberries', 'banana', 'spinach', 'chicken breast', 'peanuts'], 
            'grams': [50, 200, 100, 200, 50, 100],
           'calories': [271, 64, 89, 46, 80, 567]}
df = pd.DataFrame(raw_data, columns = ['food', 'grams', 'calories'])
df

             food  grams  calories
0           bacon     50       271
1    strawberries    200        64
2          banana    100        89
3         spinach    200        46
4  chicken breast     50        80
5         peanuts    100       567

In [21]:
normalized_df=(df['calories']-df['calories'].min())/(df['calories'].max()-df['calories'].min())

In [23]:
normalized_df = pd.DataFrame(normalized_df)

In [24]:
normalized_df

   calories
0  0.431862
1  0.034549
2  0.082534
3  0.000000
4  0.065259
5  1.000000

In [26]:
df

             food  grams  calories
0           bacon     50       271
1    strawberries    200        64
2          banana    100        89
3         spinach    200        46
4  chicken breast     50        80
5         peanuts    100       567

In [27]:
frames = [df, normalized_df]
result = pd.concat(frames)

In [28]:
result

             food  grams    calories
0           bacon   50.0  271.000000
1    strawberries  200.0   64.000000
2          banana  100.0   89.000000
3         spinach  200.0   46.000000
4  chicken breast   50.0   80.000000
5         peanuts  100.0  567.000000
0             NaN    NaN    0.431862
1             NaN    NaN    0.034549
2             NaN    NaN    0.082534
3             NaN    NaN    0.000000
4             NaN    NaN    0.065259
5             NaN    NaN    1.000000

In [33]:
normalized_df.rename(columns={'calories': 'calories1'}, inplace=True)
numbers = normalized_df['calories1']
df1 = df.join(numbers)
df1

             food  grams  calories  calories1
0           bacon     50       271   0.431862
1    strawberries    200        64   0.034549
2          banana    100        89   0.082534
3         spinach    200        46   0.000000
4  chicken breast     50        80   0.065259
5         peanuts    100       567   1.000000

In [34]:
df1.sort_values(['calories', 'calories1'], ascending=[False, False])

             food  grams  calories  calories1
5         peanuts    100       567   1.000000
0           bacon     50       271   0.431862
2          banana    100        89   0.082534
4  chicken breast     50        80   0.065259
1    strawberries    200        64   0.034549
3         spinach    200        46   0.000000

**Reverse a number**

In [10]:
n = 45600
rev = 0
 
while(n > 0):
    a = n % 10
    rev = rev * 10 + a
    n = n // 10
 
print(rev)

654

In [4]:
try:
	n = int(input('Enter a number : '))
	reversed = int(str(n)[::-1])
	print(reversed)
except ValueError:
	print('Given input is not a number.')

Enter a number : 4560
654

Given two strings in Python, write code to print overlapping letters in alphabetical order. For example, given the following strings:

str1 = 'card'
str2 = 'shark'

Your overlapping letters would be 'a' (1x) and 'r' (1x), and they just happen to be in alphabetical order already, so your code would return:

'ar'

If there is no overlap between the two strings, you can print 'no overlap'.

In [1]:
# Function to print overlapping letters in two strings, in order
from collections import Counter 
  
def overlap(str1,str2): 
    # here we can take advantage of python's Counter dictionary
    dict1 = Counter(str1) 
    dict2 = Counter(str2) 
  
    # intersection of dictionaries 
    commonDict = dict1 & dict2 
  
    # if no overlap, print no overlap and exit
    if len(commonDict) == 0: 
        print('no overlap')
        return
  
    # convert our common dictionary to a list
    commonChars = list(commonDict.elements()) 
  
    # sort alphabetically
    commonChars = sorted(commonChars) 
   
    # join characters to produce final string 
    print(''.join(commonChars))
  
# Driver code 
if __name__ == "__main__": 
    str1 = 'card'
    str2 = 'shark'
    overlap(str1, str2)

ar

You have a list of integers that range from values 1 to n. Each value in the list is unique, however one random slot in the list is empty, making the size of the input array n-1. Can you write a function to find the missing integer?

In [3]:
# Python3 program to Find missing 
# integers in list
          
def find_missing(lst):
    return [x for x in range(lst[0], lst[-1]+1) 
                               if x not in lst]
  
# Driver code
lst = [1, 2, 4, 6]
print(find_missing(lst))

[3, 5]

Suppose you're given an array, a, as well as a position, p. Write a function to reverse your array, but only up to the position given in p. The rest of your array should remain untouched. For example, given the following:

a = [1, 3, 4, 6]

p = 2
Your function should return:

[3,2,4,6]

In [5]:
# Define function
def position_reverse(a, n, p): 
    # One by one reverse first and 
    # last elements of a[0..p-1] 
    for i in range(0, (int)(p/2)): 
        # Create temporary element 
        # to store the current 
        # piece of the array
        temp = a[i] 
        # Shift current piece of array
        # e.g. if position 2 then first loop
        # a[0] = a[2-0-1] 
        # Meaning a[0] = a[1]
        # Meaning a[0] = 3 now
        # from our driver code
        a[i] = a[p-i-1] 
        # Use temp variable (which was 
        # old a[i] to fill the element we just 
        # pulled into new a[i] in step above
        a[p-i-1] = temp 
    
    #Print the output
    print(a)
          
# Driver code
# Variables
a = [1, 3, 4, 6,7,8,9,3,4,5,6]
n = len(a) 
p = 5
  
# Run the function  
position_reverse(a, n, p)

[7, 6, 4, 3, 1, 8, 9, 3, 4, 5, 6]